/* @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
/* font-family: 'Clash Display', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    font-family: 'Satoshi', sans-serif;
}


.code-editor{
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

.code-editor__header{
    background: #0d0b33;
}


.code-editor__header h1{
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    display: grid;
    writing-mode: vertical-rl;
    color: white;
    margin-top: 2rem;
}

/* .code-editor__languages{
    background: yellow;
} */

/* .code-editor__result{
    background: rgb(255, 255, 255);
} */


/* section */
.code-editor__languages{
    display: grid;
    grid-template-rows: auto 1fr;
}

.code-editor__language-tab{
    /* background-color: purple; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

/* .code-editor__langueage-textarea{
    background: green;
} */

.code-editor__textarea{
    min-width: 100%;
    min-height: 100%;
    resize: none;
    background: #1a183d;
    display: none;
    margin: 0;
    vertical-align: middle;
    color: white;
    padding: 10px;
    font-size: 1rem;
}

.is-active{
    display: inline-block;
}



.code-editor__result-btns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.code-editor__result{
    display: grid;
    grid-template-rows: auto 1fr;
}

.code-editor__output-frame{
    display: block;
    min-width: 100%;
    min-height: 100%;
    background: rgb(255, 255, 255);
}



/* coommon */

.code-editor__padding {
    padding: 16px 0;
    border-right: 1px solid;
    background: #0d0b33;
    color: white;
    box-sizing: border-box;
}
.code-editor__padding:hover{
    background: #0d0b33cc; 
}
.code-editor__padding:active{
    background: #0d0b33cc; 
}

.tab-active{
    background: #0d0b33cc; 

}